

html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-image: url("../other/beach2.jpg");
    align-items: center;
}
header {
    font-family: GTAfont, serif;
    font-size: 60px;
    color: orange;
    background-color: black;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
}
header p {
    margin: 0;

}

header .sound-button {
    position: absolute;
    top: 17px;
    vertical-align: middle;
    right: 20px;
    cursor: pointer;
    background-color: transparent;
    border-color: black;

}
header .sound-button-child {
    width: 40px;
    height: 40px;
}
.content {
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
}
#message {
    font-family: MyFont, serif;
    font-weight: 100;
    font-style: italic;
    font-size: 60px;
    margin: 1em 0 0 0;
    text-align: center;

}

.table {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: black;
    border-spacing: 10px;
}
.square {
    font-family: "DejaVu Sans", serif;
    background-color: white;
    border-radius: 8px;
    height: 100px;
    width: 100px;
    font-size: 75px;
    text-align: center;
}

.square:hover {
    background-color: orange;
}
button {
    /*margin-bottom: 100px;*/
}
.play-button {
    border-radius: 20px;
    font-family: GTAfont, serif;
    padding: 15px 32px 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 40px;
    color: orange;
    background-color: black;
    border-color: transparent;
}
.play-button:hover {
    background-color: deeppink; /* Green */
    color: white;
}


table {
    border-spacing: 7px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

/* --- CUSTOM FONTS --- */

@font-face {
    font-family: MyFont;
    src: url("../other/AmaticSC-Bold.ttf"); /*URL to font*/
}
@font-face {
    font-family: GTAfont;
    src: url("../other/gta.ttf"); /*URL to font*/
}