

html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-image: url("../other/416242.jpg");
    align-items: center;
}
header {
    text-align: center;
    font-style: oblique;
    color: orange;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
header h1 {
    margin: 0;
}
.content {
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
}
#message {
    font-style: italic;
    border-radius: 15px;
    font-size: 20px;
    padding: 5px 30px;
    background-color: white;
    margin: 2em 0 0 0;
    text-align: center;
}
.table {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: blueviolet;
    border-spacing: 10px;
}
.square {

    background-color: powderblue;
    border-radius: 10px;
    height: 160px;
    width: 160px;
    font-size: 100px;
    text-align: center;
}
.square:hover {
    background-color: fuchsia;
}
button {
    margin-bottom: 100px;
}
.inline-button {
    border-radius: 20px;
    font-family: cursive;
    font-style: italic;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
}
.inline-button:hover {
    background-color: deeppink; /* Green */
    color: white;
}

.square {

    background-color: powderblue;
    border-radius: 8px;
    height: 100px;
    width: 100px;
    font-size: 75px;
    text-align: center;
}
.square:hover {
    background-color: fuchsia;
}
table {
    border-spacing: 7px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
